/* CSS Reset: Begin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* max-inline-size: 66ch; */
  /*line width*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/*Ç: Start*/
p {
  width: clamp(45ch, 50%, 75ch);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Ç: End */
#root,
#__next {
  isolation: isolate;
}

/* CSS Reset: End */

/* Front: Start */

textarea#user-input {
  width: 100%;
  height: auto;
  min-height: 200px;
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 10px;
}

pre {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-family: monospace;
  overflow: auto;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.dropdown-container, .input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
}

.dropdown, .input {
  display: flex;
  flex-direction: column;
  flex: 1 1 10px;
  /* height: 50px; */
  margin: 1vh 0;
}
/* Front: End */

/* Back: Start */

.code-editor-container {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.user-code-container, .correct-code-container {
  flex: 1; 
  display: flex; 
  flex-direction: column;
}

/* Back: End */

body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
}

p.question {
  margin-bottom: 10px;
}

.time-complexity, .space-complexity {
  /* outline: 1px solid black; */
  /* border: none; */
}