<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="stylesheet" href="./css/fonts.css" />
  <script src="./js/main.js" defer></script>
  <title></title>
</head>

<body>
  <!-- Generic CSS -->
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Generic JS -->
  <script src="../js/scripts.js" defer></script>

  <!-- CodeMirror CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/theme/dracula.min.css" />

  <!-- CodeMirror JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/python/python.min.js"></script>

  <!-- Front Content -->

  <p class="question">{{front}}</p>

  <div class="input-container">
    <div class="input">
      <input type="text" class="time-complexity" placeholder="Time Complexity">
    </div>
    <div class="input">
      <input type="text" class="space-complexity" placeholder="Space Complexity">
    </div>
  </div>
  <!-- Code Editor Container -->
  <div id="code-editor-container">
    <textarea id="code-input" name="code"></textarea>
  </div>

  <script>
    var isAnkiPc21 = typeof pycmd !== 'undefined';
    var typedAnswer = '';

    // Initialize CodeMirror editor for the textarea
    var editor = CodeMirror.fromTextArea(
      document.getElementById('code-input'),
      {
        lineNumbers: true,
        mode: 'python',
        theme: 'dracula',
        indentUnit: 4,
        tabSize: 4,
      }
    );

    // Persist the typed input
    editor.on('change', (instance) => {
      typedAnswer = instance.getValue();
      if (!isAnkiPc21) {
        // AnkiDroid, AnkiMobile, AnkiWeb
        try {
          sessionStorage.setItem('typedAnswer', JSON.stringify(typedAnswer));
        } catch (error) {
          console.log(`${error.name}: ${error.message}`);
        }
      }
    });

    // Resize the editor
    function resizeEditor() {
      // Calculate available height for the editor dynamically
      const container = document.getElementById('code-editor-container');
      const availableHeight =
        window.innerHeight - container.getBoundingClientRect().top; // Remaining space from the top of the container to the viewport bottom
      editor.setSize('100%', availableHeight * 0.96); // Set CodeMirror's size dynamically
    }

    resizeEditor();
    window.addEventListener('resize', resizeEditor);
  </script>
</body>

</html>