<!-- Generic CSS -->
<link rel="stylesheet" href="../css/styles.css">

<!-- Generic JS -->
<script src="../js/scripts.js" defer></script>

<!-- CodeMirror CSS -->
<link rel="stylesheet" href="../css/codemirror.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/theme/dracula.min.css" />

<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/python/python.min.js"></script>

<!-- Front Content -->

<p>{{front}}</p>

<!-- Code Editor Container -->
<div id="code-editor-container">
  <textarea id="code-input" name="code"></textarea>
</div>

<script>
  var isAnkiPc21 = typeof pycmd !== 'undefined';
  var typedAnswer = '';

  // Initialize CodeMirror editor for the textarea
  var editor = CodeMirror.fromTextArea(
    document.getElementById('code-input'),
    {
      lineNumbers: true,
      mode: 'python',
      theme: 'dracula',
      indentUnit: 4,
      tabSize: 4,
    }
  );

  // Persist the typed input
  editor.on('change', (instance) => {
    typedAnswer = instance.getValue();
    if (!isAnkiPc21) {
      // AnkiDroid, AnkiMobile, AnkiWeb
      try {
        sessionStorage.setItem('typedAnswer', JSON.stringify(typedAnswer));
      } catch (error) {
        console.log(`${error.name}: ${error.message}`);
      }
    }
  });
</script>